.nav-sidebar .nav-link>.right:nth-child(2), .nav-sidebar .nav-link>p>.right:nth-child(2) {
    right: 1rem;
}

/* app.css */
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
  margin-top: 15px;
}
